
body {
    margin: 30px auto;
    width: 80%;
}

*{
    box-sizing: border-box;
}
  
  /* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.left {
  width: 25%;
}
  
.right {
    width: 75%;
}

.boxcard {
  height: 400px;
  max-width: 350px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  padding: 15px;
  border-radius: 5px;
  margin: auto;
  background: linear-gradient(90deg, rgba(236,206,201,1) 0%, rgba(238,238,242,1) 35%, rgba(218,225,226,1) 100%);
  position: relative;
}

  /* Clear floats after the columns * /
.row:after {
    content: "";
    display: table;
    clear: both;
}*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
.title {
    color: grey;
    font-size: 12px;
}
  
 button {
    width: 80%;
    height: 80px;
    font-size: 10px;
    margin: 30px 10% 0 10%;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(215,214,236,1) 0%, rgba(125,125,226,1) 35%, rgba(140,210,212,1) 100%);
    background-size: 300% 300%;
    outline: none;
    transition: all 200ms ease-in-out;
  }


nav ul, footer ul {
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
    color: #021a1a;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Roboto Mono', monospace;
	color: #001933;
}
h2 {
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;
	color: #001933;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #331900;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $darkBackground;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    padding: 0 20px;
    margin-left: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    div {
      display: flex;
      .fa-heart {
        color: $accent;
      }
      p:first-child{
        margin-right: 10px;
        border-right: 4px solid white;
        padding-right: 10px;
      }
    }
  }

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

ul.posts li p { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}